<div class="container">
    <div class="form-div">
        <form >
            <div class="input-div">
              <label>First Name</label>
              <input type="text" required >
            </div>
            <div class="input-div">
              <label>Last Name</label>
              <input type="text" required>
            </div>
            <div class="input-div">
              <label>Email</label>
              <input type="text" required>
            </div>
            <div class="input-div">
              <label>Feedback</label>
              <textarea type="text" required></textarea>
            </div>
            <button type="button">Contact Us</button>
          
          </form>
          
    </div>
    <div class="side">
      <div class="info">
          <h5>Contact Info</h5>
          <div class="row">
         <button type="button" class="circle"><mat-icon >room</mat-icon></button>
         <div class="para">
         <p>Bellandur, Bangalore</p></div>
         </div>
         <div class="row">
          <button type="button"  class="circle"><mat-icon >email</mat-icon></button>
          <div class="para">
          <p>sakshis292000@gmail.com</p></div>
          </div>
          <div class="row">
            <button type="button"  class="circle"><mat-icon >phone</mat-icon></button>
            <div class="para">
            <p>6299-267-623</p></div>
            </div>
        <div class="icon-div">
          <a href="mailto:sakshis292000@gmail.com"><i class="fab fa-google"></i></a>
         <a href="https://www.instagram.com/miss_._alien/"><i class="fab fa-instagram"></i></a>
         <a href="https://github.com/Code-SakshiBhardwaj"><i class="fab fa-github"></i></a>
         <i class="fab fa-facebook"></i>
         <a href="https://www.linkedin.com/in/sakshi-bhardwaj-bb399b1b3/"><i class="fab fa-linkedin"></i></a>
        </div>
        
    </div>
</div>
