<div class="about">
    <div class="main">
        <img src="../assets/images/me.jpeg">
        <div class="about-text">
            <h1>About Us</h1>
            <h5>Developer<span> & Designer</span></h5>
            <p>
                An instinctive Software Engineer with intuitive learning capabilities,
                 driven with the ability to adapt to any situation and prove potential
                  to the grow of self, organization as well as society.
            </p>
            <button type="button" routerLink="/contact">Lets Talk</button>
        </div>
    </div>
</div>
