<mat-toolbar>
    <mat-toolbar-row>
      <span class="name">Sakshi Bhardwaj</span>
      <mat-icon>verified_user</mat-icon>
      <span class="example-spacer"></span>
      <button routerLink="/content"mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
      </button>
      <button routerLink="/about" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>person
        </mat-icon>
      </button>
      <button routerLink="/project" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>badge</mat-icon>
      </button>
      <button routerLink="/experience" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>timeline</mat-icon>
      </button>
      <button routerLink="/contact" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>feedback</mat-icon>
      </button>
    </mat-toolbar-row>